/* Structure */
.content-container {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 50px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-flat-button {
  margin: 5px;
}
